# id -u
AIRFLOW_UID=
# python -c "from airflow.configuration import conf; print(conf.airflow_home, conf.airflow_config)"
AIRFLOW__CORE__FERNET_KEY=

# ---------- Airflow DB --------------
#
# leave port empty in production for security
AIRFLOW_DB_PORT=
#
AIRFLOW_DB_PASSWORD=
